In [7]:
# task 1
shopping = ["spam", "ham", "eggs", "ham"]

print(shopping[1])
print(shopping[:3])
print(shopping[-1])

ham
['spam', 'ham', 'eggs']
ham

In [8]:
# task 2

#Set up a list with the following elements:

stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

stops.append("Edinburgh Waverley")
stops.insert(0, "Queen Street")
stops.index("Croy")
stops.insert(4, "Polmont")
stops.remove("Haymarket")
stops.clear()

stops

[]

In [9]:
# task 3

#Set up the following dictionary:

person = {"name": "Steph", "age": 31, "Instructor" : True}

#Do the following:

#Return the keys, values and items from this dictionary

person.keys()
person.values()
person.items()

#Take out only the name from it

person["name"]

#Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

new = {"email":"steph@codeclan.com"}

person.update(new)

person

#Delete the job description from the dictionary (Hint: look up the del function)

person.pop("Instructor")

person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

In [10]:
# task 4

# For the following list of numbers:

import numpy as np

numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

#Print out a list of the even integers:

for i in numbers:
    if i % 2 == 0:
        print(i)

#Print the difference between the largest and smallest value:

max_so_far = None

for i in numbers:
    if max_so_far == None or i > max_so_far:
        max_so_far = i 
        
print("Maximum value ", max_so_far)

min_so_far = None

for i in numbers:
    if min_so_far == None or i < min_so_far:
        min_so_far = i
        
print("difference is ", max_so_far - min_so_far)


#Print True if the list contains a 2 next to a 2 somewhere.

for i,j in enumerate(numbers):
    if numbers[i] == numbers[i+1]:
        print(f"At index {i}")
    else:
        print(f"Not at index {i}")

#Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 
# and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

6
2
2
6
Maximum value  99
difference is  98
Not at index 0
Not at index 1
At index 2
Not at index 3
Not at index 4
Not at index 5
Not at index 6
Not at index 7
Not at index 8

IndexError: list index out of range

In [ ]:
numbers_array = np.array(numbers)
numbers_array.max()-numbers_array.min()

In [ ]:
#Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 
# and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]
sum_after_six = 0
count = 0
stop = False

for num in numbers:
    count += num
    sum_after_six += num
    if num == 6:
        stop = True
        sum_after_six = num
    elif stop and num == 7:
        count -= sum_after_six
        stop = False
        sum_after_six = 0

print(count)

In [ ]:
# task 5

# Write a conditional that takes in two inputs :

python_is_fun = False
python_is_weird = False

#We want to print "Woo Python!" if either python_is_fun is true OR 
#python_is_weird is true OR both python_is_fun and python_is_weird are true. 
#Otherwise, print "Python is not for me!". Make sure you test all the combinations.

if python_is_fun == True or python_is_weird == True:
    print("Woo Python!")
else:
    print("Python is not for me")

In [ ]:
# task 6
def egg_count(eggs):
    total_eggs = 0 
    for i in eggs:
        total_eggs = total_eggs + i
    return(f"{total_eggs} eggs collected")

In [ ]:
eggs = [3,5,6,7,7,8]
egg_count(eggs)

In [12]:
# extension 1

united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

# change name to cardiff
united_kingdom[1]["capital"] = "Cardiff"

type(united_kingdom)

list

In [13]:
# add Northern Ireland

northern_ireland = {"name":"Northern Ireland", "population":1811000, "capital":"Belfast"}

united_kingdom.append(northern_ireland)

united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'},
 {'name': 'Northern Ireland', 'population': 1811000, 'capital': 'Belfast'}]

[]

In [15]:
for i in united_kingdom:
    print(i["name"])

Scotland
Wales
England
Northern Ireland

In [17]:
total_population = 0 
count = 0

while count < len(united_kingdom):
    for i in united_kingdom:
        total_population = total_population + i["population"]
        count = count + 1
    
    print(total_population)

63179000

In [19]:
users = {
  "Jonathan": {
    "twitter": "jonnyt",
    "lottery_numbers": [6, 12, 49, 33, 45, 20],
    "home_town": "Stirling",
    "pets": [
    {
      "name": "fluffy",
      "species": "cat"
    },
    {
      "name": "fido",
      "species": "dog"
    },
    {
      "name": "spike",
      "species": "dog"
    }
  ]
  },
  "Erik": {
    "twitter": "eriksf",
    "lottery_numbers": [18, 34, 8, 11, 24],
    "home_town": "Linlithgow",
    "pets": [
    {
      "name": "nemo",
      "species": "fish"
    },
    {
      "name": "kevin",
      "species": "fish"
    },
    {
      "name": "spike",
      "species": "dog"
    },
    {
      "name": "rupert",
      "species": "parrot"
    }
  ]
  },
  "Avril": {
    "twitter": "bridgpally",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Dunbar",
    "pets": [
      {
        "name": "monty",
        "species": "snake"
      }
    ]
  }
}

In [23]:
#Get Jonathan's Twitter handle (i.e. the string "jonnyt")
users["Jonathan"]["twitter"]

'jonnyt'

In [26]:
#Get the array of Erik's lottery numbers

users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24]

In [35]:
#Get the species of Avril's pet Monty

users["Avril"]["pets"]

[{'name': 'monty', 'species': 'snake'}]

In [ ]:
#Get Erik's hometown
#Get the array of Erik's lottery numbers
#Get the species of Avril's pet Monty
#Get the smallest of Erik's lottery numbers
#Return an array of Avril's lottery numbers that are even
#Erik is one lottery number short! Add the number 7 to be included in his lottery numbers
#Change Erik's hometown to Edinburgh
#Add a pet dog to Erik called "Fluffy"
#Add another person to the users dictionary